
/*------------------------------------*\
    RESET
\*------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}



/*------------------------------------*\
    FONT
    http://www.fontsquirrel.com/fonts/MinstrelPosterWHG?filter[tags][]=retro&filter[tags][]=bold&filter[family_size]=1&filter[download]=local&sort=a2z
\*------------------------------------*/

@font-face {
    font-family: 'minstrel';
    src: url('font/MINSPSW_-webfont.eot');
    src: url('font/MINSPSW_-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/MINSPSW_-webfont.woff') format('woff'),
         url('font/MINSPSW_-webfont.ttf') format('truetype'),
         url('font/MINSPSW_-webfont.svg#minstrelposterwhgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.special-font{font-family: 'minstrel',sans-serif;}

/*------------------------------------*\
    GLOBAL
\*------------------------------------*/

html{
    height: 100%;
	position:relative;
    font-family: sans-serif;
}


/*------------------------------------*\
    DECORS
\*------------------------------------*/

body{
	background: url("../images/grass.png");
	height: 100%;
	position:relative;
}

.road{
	background: url("../images/road.png");
	width: 950px;
	height: 100%;
	margin: 0 auto;
	min-height: 700px;
	position : relative;
	overflow : hidden;
}


.bg-animation{
    animation: runBackground 1s linear infinite;
    -webkit-animation: runBackground 1s linear infinite;
}

@-webkit-keyframes runBackground {
    0% { background-position: 0 0px; }
    100% { background-position: 0 256px; }
}
@keyframes runBackground {
    0% { background-position: 0 0px; }
    100% { background-position: 0 256px; }
}




/*------------------------------------*\
    VEHICULE
\*------------------------------------*/

.vehiculeEnemy {
    width : 50px;
    height : 80px;
    background-color: red;
    position : absolute;
    left : 70px;
}

.testVehicule {
    width : 50px;
    height : 80px;
    bottom : 0;
    background-color: green;
    position : absolute;
    left : 70px;
}
#voiture{
	position:absolute;
	background-color:black;
	width: 50px;
	height: 80px;
	top:50%;
	left:300px;
}
